:root {
    --container-max-width: 1024px;
    --border: 10px;
    --hover-color: lightblue;
    --light-gray: #eeeeee;
    --gray: #dddddd;
    --dark-gray: #666666;
}


* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-gray);
}

h1 {
    margin: 0;
    padding: 24px;
    font-size: 40px;
    font-weight: bold;
    user-select: none;
}

h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

header {
    background: var(--gray);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 16px 0;
}

main a {
    text-decoration: none;
}

main a div {
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--dark-gray);
    border: var(--border) solid var(--light-gray);
}

main a div:hover {
    border: var(--border) solid var(--hover-color);
}

main a div span {
    font-size: 18px;
}

ul {
    display: flex;
    gap: 5px;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background: var(--gray);
    cursor: pointer;
    user-select: none;
}

li:hover {
    background: var(--hover-color);
}


.container {
    max-width: var(--container-max-width);
    width: 100%;
    margin: 5px;
}


@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    main {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 24px;
    }
}